<md-card>
  <md-card-header>
    <div md-card-avatar>
      <i class="fa fa-user fa-3x"></i>
    </div>
    <md-card-title>FRONTEND</md-card-title>
    <md-card-subtitle>Login</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <md-progress-spinner *ngIf="isLoading"
      color="primary"
      mode="indeterminate">
    </md-progress-spinner>
    <div *ngIf="!isLoading">
      <md-input-container>
        <input mdInput placeholder="Account" [(ngModel)]="model.account">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Password" [(ngModel)]="model.password">
      </md-input-container>
      <md-checkbox>Keep me signed in</md-checkbox>
    </div>
  </md-card-content>

  <md-card-actions>
    <button md-raised-button class="mat-primary" (click)="onLogin()">
      <i class="fa fa-sign-in"></i> Log In
    </button>
  </md-card-actions>
</md-card>
