<div class="page-actions">
  <button md-fab (click)="submitForm()">
    <i class="fa fa-save"></i>
  </button>
</div>

<form>
  <div class="row">
    <div class="col-xs-12">
      <md-form-field>
        <input mdInput placeholder="Company (disabled)" disabled value="http://bndy.net">
      </md-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <md-form-field>
        <input mdInput placeholder="First name">
      </md-form-field>
    </div>
    <div class="col-xs-4">
      <md-form-field>
        <input mdInput placeholder="Last name">
      </md-form-field>
    </div>
    <div class="col-xs-4">
      <md-form-field>
        <input mdInput [mdDatepicker]="picker" placeholder="Your birthday">
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      </md-form-field>
      <md-datepicker #picker></md-datepicker>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <md-form-field>
        <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
      </md-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <md-select placeholder="Select" [(ngModel)]="selectedValue" name="food">
        <md-option *ngFor="let season of seasons" [value]="season">
          {{season}}
        </md-option>
      </md-select>
    </div>
    <div class="col-xs-4">
      <md-form-field>
        <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="formCtrl" [(ngModel)]="state">
      </md-form-field>

      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let state of filteredStates | async" [value]="state">
          {{ state }}
        </md-option>
      </md-autocomplete>
    </div>
    <div class="col-xs-4">
      <md-form-field>
        <input mdInput #postalCode maxlength="6" placeholder="Postal Code" value="230088">
        <md-hint align="end">{{postalCode.value.length}} / 6</md-hint>
      </md-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <md-checkbox [(ngModel)]="chksValue[season]"  name=”option_{{season}}” *ngFor="let season of seasons">{{season}}</md-checkbox>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <md-radio-group [(ngModel)]="radioValue" name="radio">
        <md-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
          {{season}}
        </md-radio-button>
      </md-radio-group>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <md-slide-toggle
        color="primary"
        [checked]="slideChecked">
        Slide me!
      </md-slide-toggle>
    </div>
  </div>
</form>
