/**************************************/
// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-blue, 800, 900, A100);
$app-accent:  mat-palette($mat-pink);
$app-warn: mat-palette($mat-deep-orange);

$primary-color: mat-color($app-primary);
$accent-color:  mat-color($app-accent);
$warning-color: mat-color($app-warn);
$danger-color:  mat-color(mat-palette($mat-red));
$success-color: mat-color(mat-palette($mat-green));
$text-color: #666666;

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

$gray-base: #666666;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);
$gray-white: lighten($gray-base, 96%);

/**************************************/

$sidebar-color: $text-color;
$sidebar-background-color: $gray-white;
$sidebar-active-color: $primary-color;
$sidebar-active-background-color: $gray-lighter;

$loading-bar-color: $accent-color;

$header-height: 52px;
$sidebar-width: 220px;
$font-size: 13px;

$page-header-height: 80px;

