$primary-color: #1976D2;
$info-color: #5bc0de;
$success-color: #3c763d;
$warning-color: #ff9800;
$danger-color: #e00000;

$brand-color: $primary-color;

$gray-base: #666666;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);
$gray-white: lighten($gray-base, 96%);

/**************************************/

$text-color: #666666;

$sidebar-color: $text-color;
$sidebar-background-color: $gray-white;
$sidebar-active-color: $primary-color;
$sidebar-active-background-color: $gray-lighter;

$loading-bar-color: $info-color;

$header-height: 52px;
$sidebar-width: 220px;
$font-size: 13px;

