$primary-color: #1976D2;
$info-color: #5bc0de;
$success-color: #3c763d;
$warning-color: #ff9800;
$danger-color: #e00000;

$text-color: #333333;

$sidebar-color: #ffffff;
$sidebar-color-active: $primary-color;
$sidebar-text-color: $text-color;


$sidebar-width: 220px;

