@import "../styles/variables";
app {
  display: block;
  height: 100%;
  .btn-menu-toggle {
    position: absolute;
    z-index: 9999;
    display: block;
    padding: 0 1rem;
    height: $header-height;
    line-height: $header-height;
    color: #ffffff;
    text-align: center;
    &:hover {
      background-color: darken($brand-color, 10%);
    }
  }
  main {
    background-color: white;
    padding-top: $header-height;
    height: 100%;

    .page-main {
      height: 100%;
      overflow: auto;
    }
  }
  nav {
    .mat-button,
    .mat-icon-button,
    .mat-raised-button {
      .mat-button-wrapper {
        i {
          vertical-align: inherit;
        }
      }
    }
  }
  .mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 3px;

    .mat-progress-bar-buffer {
      background-color: $loading-bar-color;
    }

    .mat-progress-bar-fill::after {
      background-color: $brand-color;
    }
  }
  .mat-sidenav-container {
    width: 100%;
    height: 100%;
    background-color: $brand-color;
    md-sidenav {
      width: $sidebar-width;
      background-color: $sidebar-color;
    }
  }
}
