<md-progress-bar mode="indeterminate" *ngIf="isLoading"></md-progress-bar>

<app-header></app-header>

<div [ngClass]="{'sidebar-collapsed': isSidebarCollapsed}">
  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true">
      <app-sidebar></app-sidebar>
    </md-sidenav>

    <main>
      <div class="page-header">
        <shared-page-header title="Page Title" subtitle="sub title"></shared-page-header>
      </div>
      <div class="page-body">
        <router-outlet></router-outlet>
      </div>
    </main>
    <footer></footer>
  </md-sidenav-container>

  <a class="btn-toggle-sidebar" mdTooltip="Toggle Sidebar" mdTooltipPosition="right"
     (click)="sidenav.toggle();isSidebarCollapsed=!isSidebarCollapsed;">
    <i class="fa fa-ellipsis-v" *ngIf="isSidebarCollapsed"></i>
    <i class="fa fa-angle-left" *ngIf="!isSidebarCollapsed"></i>
  </a>
</div>
