@import "../styles/variables";

app {
  display: block;
  height: 100%;

  main {
    background-color: white;
    height: 100%;
    overflow: auto;
  }

  nav {
    .mat-button,
    .mat-icon-button,
    .mat-raised-button {
      .mat-button-wrapper {
        i {
          vertical-align: inherit;
        }
      }
    }
  }

  .mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 3px;

    .mat-progress-bar-buffer {
      background-color: $loading-bar-color;
    }

    .mat-progress-bar-fill::after {
      background-color: $brand-color;
    }
  }

  .mat-sidenav-container {
    height: calc(100vh - #{$header-height});

    .mat-sidenav {
      width: $sidebar-width;
      background-color: $sidebar-background-color;
      border-right: solid 1px $gray-light;
    }
  }

  .btn-toggle-sidebar {
    position: absolute;
    z-index: 9999;
    bottom: 0.5rem;
    left: calc(#{$sidebar-width} - 20px);
    transition: left .3s;

    i {
      &.fa-angle-left {
        font-size: 2rem;
        position: relative;
        top: -3px;
      }
    }
  }

  .sidebar-collapsed {
    .btn-toggle-sidebar {
      left: .5rem;
    }
  }
}
