@import "../styles/variables";

app {
  display: block;
  height: 100%;

  main {
    background-color: white;
    height: 100%;

    .page-header {
      margin: 0;
      padding: 15px 30px;
      background-color: #fafbfc;
      border-bottom: solid 1px #cfdbe2;
      height: $page-header-height;
    }

    .page-body {
      height: calc(100vh - #{$header-height} - #{$page-header-height});
      padding: 30px;
      overflow: auto;

      .fill-page-body {
        margin: -30px;
      }

      .page-actions {
        position: fixed;
        right: 2rem;
        margin-top: -58px;
      }
    }
  }

  nav {
    .mat-button,
    .mat-icon-button,
    .mat-raised-button {
      .mat-button-wrapper {
        i {
          vertical-align: inherit;
        }
      }
    }
  }

  .mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 3px;

    .mat-progress-bar-buffer {
      background-color: $loading-bar-color;
    }

    .mat-progress-bar-fill::after {
      background-color: $brand-color;
    }
  }

  .mat-sidenav-container {
    height: calc(100vh - #{$header-height});

    .mat-sidenav {
      width: $sidebar-width;
      background-color: $sidebar-background-color;
      border-right: solid 1px $gray-light;
    }
  }

  .btn-toggle-sidebar {
    position: absolute;
    z-index: 9999;
    top: calc(#{$header-height} + 20px);
    left: calc(#{$sidebar-width} - .8rem);
    transition: left .3s;
    width: .8rem;
    display: block;
    padding: 10px 2px;
    border-radius: 4px 0 0 4px;
    background-color: $gray-light;

    &:hover {
      background-color: $primary-color;
      color: #ffffff;
    }
  }

  .sidebar-collapsed {
    .btn-toggle-sidebar {
      left: 0;
      border-radius: 0 4px 4px 0;
    }
  }
}
