<nav>
  <a *ngFor="let menu of menus"
     [routerLink]="menu.url"
     md-button>
    <i class="{{menu.icon}}" *ngIf="menu.icon"></i>
    <img src="assets/img/{{menu.icon.replace('img:', '')}}" *ngIf="menu.icon.indexOf('img:')===0">
    {{menu.text}}
  </a>
  <a md-button [mdMenuTriggerFor]="menu" class="right">
    <img src="/assets/img/logo.png" class="img-circle white">
    Bendy
  </a>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <i class="fa fa-cogs"></i>
      <span>Settings</span>
    </button>
    <a md-menu-item routerLink="./login">
      <i class="fa fa-sign-in"></i>
      <span>Switch User</span>
    </a>
    <a md-menu-item routerLink="./logout">
      <i class="fa fa-sign-out"></i>
      <span>Sign Out</span>
    </a>
  </md-menu>
</nav>
