<nav>
  <a *ngFor="let menu of menus"
     [routerLink]="menu.url"
     md-button>
    <i class="{{menu.icon}}" *ngIf="menu.icon"></i>
    <img src="assets/img/{{menu.icon.replace('img:', '')}}" *ngIf="menu.icon.indexOf('img:')===0">
    {{menu.text}}
  </a>
  <a md-button [mdMenuTriggerFor]="menu">
    <i class="fa fa-user"></i>
    Bendy
  </a>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>dialpad</md-icon>
      <span>Redial</span>
    </button>
    <button md-menu-item disabled>
      <md-icon>voicemail</md-icon>
      <span>Check voicemail</span>
    </button>
    <button md-menu-item>
      <md-icon>notifications_off</md-icon>
      <span>Disable alerts</span>
    </button>
  </md-menu>
</nav>
