@import "../../styles/variables";

.navbar-form {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 0 0 $sidebar-width;
  width: 100%;

  .form-group {
    width: 100%;

    .form-control {
      border-radius: 0;
      width: 100%;
    }
  }
}
