<div class="sidebar">
  <div class="sidebar-header">
    <div class="user-img">
      <i class="icon-bendy"></i>
    </div>
    <div class="title">
      <h4>
        <span>Bendy Zhang</span>
        <small>Administrator</small>
        <small class="status-bar">
          <i class="fa fa-circle" *ngFor="let item of daysStatus"
             [ngClass]="{'text-success': item.status === true}" mdTooltip="{{item.date | appDate: 'short'}}: {{item.status?'used':'did not use'}}"></i>
        </small>
      </h4>
    </div>
  </div>
  <nav>
    <ul class="metismenu">
      <li *ngFor="let menu of menus"
          shared-menu-item [menuItemData]="menu"
          [ngClass]="{'active': menu.expanded}">
      </li>
    </ul>
  </nav>
</div>
