@import "../../styles/variables";
.sidebar {
  height: 100%;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar-header {
    height: $header-height;
    background-color: $brand-color;
    margin-right: -1px;
  }
  nav {
    height: calc(100% - #{$header-height});
    border-right: solid 1px $gray-lighter;
    overflow: auto;
    .metismenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      &>li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
      }
      a {
        position: relative;
        display: block;
        padding: 13px 15px;
        outline-width: 0;
        transition: all .1s ease-out;
        text-decoration: none;
        color: $sidebar-text-color;
        i {
          margin-right: 5px;
        }
        &[aria-expanded=true] {
          &.has-arrow {
            &:after {
              top: 46%;
            }
          }
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $sidebar-color-active;
          background-color: darken($sidebar-color, 5%);
          border-left: solid 3px $primary-color;
        }
      }
    }
  }
}
