@import "../../styles/variables";


:host /deep/ .sidebar {

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  nav {
    .metismenu {
      a {
        display: block;
        padding: .75rem 2rem;
        transition: all .1s ease-out;
        text-decoration: none;
        color: $sidebar-text-color;
        i {
          margin-right: 5px;
        }
        &[aria-expanded=true] {
          &.has-arrow {
            &:after {
              top: 45%;
            }
          }
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $sidebar-color-active;
          background-color: darken($sidebar-color, 5%);
        }
      }
    }
  }
}
